<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo">
    <test thread-count="5" name="Test">
  <parameter name="browsername" value="chrome"></parameter>
   <parameter name="username" value="standard_user"></parameter>
    <parameter name="password" value="secret_sauce"></parameter>
     <parameter name="FirstName" value="Gauri"></parameter>
      <parameter name="LastName" value="Lakade"></parameter>
       <parameter name="PinCode" value="415523"></parameter>
    <classes>
      <class name="TestLayer.LoginTest"/>
       <class name="TestLayer.AddToCartTest"/>
       <class name="TestLayer.ContainerTest"/>  
       <class name="TestLayer.PersonalDetailTest"/>   
    </classes>
  </test> 
  
</suite> 